*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
}

.logo{
font-size:24px;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

/* HERO */

.hero{
height:90vh;
background:url("https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
margin-bottom:10px;
}

.btn{
padding:12px 25px;
background:#ff6b00;
color:white;
text-decoration:none;
border-radius:5px;
}

/* MENU */

.menu{
padding:80px 20px;
text-align:center;
}

.menu-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.card{
width:250px;
background:#222;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card:hover{
transform:translateY(-10px);
}

.card h3{
margin:10px;
}

.card p{
margin-bottom:10px;
}

/* GALLERY */

.gallery{
padding:80px 20px;
text-align:center;
}

.gallery-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery-container img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

/* CONTACT */

.contact{
text-align:center;
padding:60px 20px;
}

.whatsapp{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:5px;
}

/* FOOTER */

footer{
background:black;
text-align:center;
padding:20px;
margin-top:40px;
}